.mobile-products {
    padding: 0 170px;

    &_list {
        position: relative;
    }

    &_list:hover {
        mobile-products_add-btn {
            visibility: visible;
            z-index: 1000;
        }
    }

    &_slider-btn-block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    &_slider-btn {
        background-color: var(--gray2);
        border-radius: 50%;
        padding: 6px;
        cursor: pointer;
        margin-right: 16px;
        border: none;
    }

    &_block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &_phone-name {
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1.2px;
        text-transform: uppercase;
    }

    &_phone-price {
        color: var(--blue);
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 0.6px;
    }

    &_ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        margin-top: 20px;
    }

    &_img {
        width: 100%;
        margin-bottom: 10px;
    }

    &_add-btn {
        border: none;
        background-color: var(--black);
        color: var(--white);
        display: inline-flex;
        padding: 8px 30px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        position: absolute;
        bottom: 20%;
        visibility: hidden;
    }

    &_title {
        color: #272727;
        font-size: 30px;
        font-weight: 400;
        line-height: 34.2px;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }
}