.subscribe-section {
    background-color: var(--black);
    margin-bottom: 100px;

    &_texts-block {
        color: var(--white);
    }

    &_input-block {
        display: flex;
        width: 460px;
    }

    &_input::placeholder {
        color: var(--gray);
        font-size: 16px;
        font-weight: 300;
        line-height: 22.08px;
        letter-spacing: 0.48px;
    }

    &_subscribe-btn {
        color: var(--white);
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        padding: 0 24px;
        background-color: var(--blue);
        border: none;
        outline: none;
        line-height: 20.72px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
    }

    &_important-text {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 1.8px;
        text-transform: uppercase;
    }

    &_description {
        font-size: 16px;
        font-weight: 300;
        margin-top: 10px;
        line-height: 22.08px;
        letter-spacing: 0.48px;
    }

    &_ul {
        padding: 70px 170px;
        display: flex;
        justify-content: space-between;
    }

    hr {
        border: 1px solid var(--gray2);
    }

    &_input {
        width: 100%;
        padding-left: 14px;
        outline: 0px solid transparent;
        border: none;
    }
}